<nav class="tabsbox-navigation navigation">
    <ul>
        {{#each links as |value key|}}
            <li class="item">
                <a href="#" class="item__link js-navigation-link" data-tab-id="{{key}}" title="Go to: {{value}}">{{value}}</a>
            </li>
        {{/each}}
    </ul>
</nav>
