<section class="tabsbox__tab varnish-tab">
    <h2 class="varnish-tab__title">Varnish logs</h2>

    <div class="table-wrapper">
        <h3 class="table__title">5 hosts with most traffic</h3>
        <table class="table">
            <thead>
                <th class="table__header">Host</th>
                <th class="table__header">Requests</th>
            </thead>
            <tbody>
                {{#each mostTrafficHostnames as |value|}}
                    <tr>
                        <td class="table__col">{{value.host}}</td>
                        <td class="table__col">{{value.requests}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        </ul>
    </div>

    <div class="table-wrapper">
        <h3 class="table__title">5 most requested files</h3>
        <table class="table">
            <thead>
                <th class="table__header">Requested file</th>
                <th class="table__header">Requests</th>
            </thead>
            <tbody>
                {{#each mostReqestedFiles as |value|}}
                    <tr>
                        <td class="table__col">{{value.requested_file}}</td>
                        <td class="table__col">{{value.requests}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
